extends ../layout

block content
  h1=title
  p=verse
  audio(controls='', autoplay='')
      source(src='#{file}', type='audio/mpeg', rel=noreferrer)
  br
  if type === 'new'
    button(content='#{verse}' user_id='#{user._id}')#save.button Salvar este verso
  p#message
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascript/verseController.js')
